.data-div{
    color: ghostwhite;
    /* height: 50px; */
    border-radius: 10px;
    font-weight: 800;
    font-size: 20px;
}

.head-div{
    background: linear-gradient(yellow 5%,red);
    color: white;
    /* height: 50px; */
    border-radius: 10px;
    font-weight: 800;
    font-size: 20px;
}

/* .link-btn{
    position: absolute;
    top: 50px;
    left: 200px;
} */

.form-btn{
    background: linear-gradient(goldenrod,lightseagreen);
}

.edit{
    background-color: transparent;
    border: none;
    color: white;
}

.delete-btn{
    background-color: transparent;
    border: none;
}

.search-bar{
    width: 500px;
    background-color: forestgreen;
}