/* .pn{
    position: relative;
} */

.btn-link{
    position: absolute;
    top: 50px;
    right: 400px;
}

.history-btn{
    background: linear-gradient(goldenrod,lightseagreen);
}

.add-btn{
    background: linear-gradient(green,darkorange);
    
}

/* .scanner-container{
    width: 100px;
    height: 100px;
    margin: 10px;
} */