.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-button {
    margin: 5px;
    padding: 8px 12px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    color: black;
}

.pagination-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.active {
    background-color: #a0a0a0;
}

.active-number {
    background-color: lightseagreen;
}